[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
thoth-common = {git = "https://github.com/harshad16/common.git",ref = "update/build-analyser", extras = ["openshift"],version = "*"}
click = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
